@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face { font-family:MalgunGothic; src:url(../fonts/MalgunGothic.eot); } */
/*reset*/

/** { font-family: 'Noto Sans KR', sans-serif; }  전체적용 */

body,h1,h2,h3,h4,h5,h6,p,blockqiote,dl,dd,ol,ul,fieldset,legend,figure,menu { margin: 0;
                                                                              padding: 0; 
                                                                              border: 0; }
body, table, tr, td { font-size: 16px; color: #333;
                      /*font-family: MalgunGothic, sans-serif;*/
                      font-family: 'Noto Sans KR', sans-serif; }
                        
                     

input, textarea, select, button { margin: 0; padding: 0; border-radius: 0; 
                                  color: #555; font-size: 16px; outline: 0; 
                                  vertical-align: middle; border: 0; }
/*h1태그속성*/
h1,h2,h3,h4,h5,h6 { font-weight: normal }

/*리스트세팅*/
ul,ol,li { list-style: none;}

/*링크세팅*/
a:link { text-decoration: none; color: #555; font-size: 16px; }
a:visited, a:hover, a:active { text-decoration: none; color: #444; }

/*테이블 기본셋팅*/
table, th, td { border-spacing: 0; border-collapse: collapse; }

/*이미지테두리0*/
img { border: 0; vertical-align: top;}

/*가상선택지*/
.clearfix:before, clearfix:after { display: block; content: ''; clear: both; }